.hidden{
    display:none;
}

#container{
    border: 1px solid black;
    padding: 10px;
    width: 250px;
    margin-bottom: 10px;
}

button{
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}